@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Work+Sans:wght@300&display=swap");
.deliveryMain {
  display: flex;
  gap: 20px;
  width: 350px;
  flex-wrap: wrap;
}
.cityPincode {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.deliveryImages {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
#offcanvas {
  width: 600px;
}
.deliveryText {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
#deliveryTitle {
  font-size: 25px;
  color: #212121;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
#offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
}
#colorCross {
  color: #555555;
  font-size: 1.5em;
  cursor: pointer;
}
.deliveryInput {
  padding: 20px 0px 20px 0px;
  border: none;
  outline: none;
}
.arrowInput {
  color: #069baa;
  cursor: pointer;
  font-size: 1.5em;
}
.inputDelivery {
  border-radius: 40px;
  width: 400px;
  justify-content: space-around;
  display: flex;
  border: 1.5px solid #eaeaea;
  align-items: center;
  margin-left: 60px;
}
.inputDeliveryError {
  border-radius: 40px;
  width: 400px;
  justify-content: space-around;
  display: flex;
  border: 1.5px solid #d32f2f;
  align-items: center;
  margin-left: 60px;
}
.inputDelivery:active {
  border: 1.5px solid #069baa;
}
.inputDelivery:hover {
  border: 1.5px solid #545454;
}
.city {
  color: #212121;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.pincodeError {
  color: #d32f2f;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding-left: 80px;
}
#displayFlexLocation {
  background-color: #ffffff;
  border: none;
  display: flex;
  color: #777777;
}
#displayFlexLocation:hover {
  color: #069baa;
}
.iconsDelivery:hover {
  cursor: pointer;
}
.iconsDelivery {
  font-size: 1.5em;
  text-align: center;
}
.deliveryText1 {
  font-size: 12px;
  width: 60px;
  text-align: center;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}
